[Unit]
Description=Spotipi led matrix service
After=syslog.target network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
SyslogIdentifier=spotipi
LimitRTPRIO=99
Restart=on-failure
RestartSec=3s
KillSignal=SIGINT
EnvironmentFile=/etc/systemd/system/spotipi.service.d/spotipi_env.conf

[Install]
WantedBy=multi-user.target